{% extends 'layout.html' %}
{% block body %}

<table style="margin-left: 20px;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">

        <th>Team Name</th>
        <th>League</th>
	<th>View</th>

         </tr>
    </th>

{% for parent in query%}

<tr>
 <td>
     {{parent.name}} 
 </td>    
 <td>
     {{parent.league}}
 </td>
 <td>
	 <form action="{{ url_for('parent', Name=parent.name) }}">
            <input type=submit value="View Team">
 </td>
</tr>
  
{% endfor %}


{% endblock body %}
