{% extends 'layout.html' %}
{% block body %}
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.name.label }} {{ form.name }}
                <br>
                {{ form.age.label }} {{ form.age }}
                <br>
                {{ form.position.label }} {{ form.position}}
                <br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
{% endblock body %}
