{% extends 'layout.html' %}
{% block body %}

<table style="margin-left: 20px;">
<!-- Table headers -->
    <th>
         <tr style="color: black; ">

        <th>Player Name</th>
        <th>Age</th>
        <th>Position</th>

         </tr>
    </th>

{% for player in query%}

<tr>
 <td>
     {{player.name}}
 </td>
 <td>
     {{player.age}}
 </td>
 <td>
     {{player.position}}
 </td>
</tr>

{% endfor %}
<br>
 <form action="{{ url_for('player', id=parent.id) }}">
      <input type=submit value="Add Player">
   </form>
{% endblock body %}


